body {
  margin: 0px;
  padding: 0px;
}
.top_section {
  margin: 0px auto;
  display: flex;
}
.content_width_half {
  width: 40%;
  padding-left: 10%;
  border: 1px solid;
}
.title_content {
  margin-top: 100px;
  border-left: 5px solid black;
  padding-left: 9px;
  height: 130px;
}
.title_content h1 {
  font-size: 59px;
  margin-bottom: -25px;
  margin-top: 31px;
}
.content_width_half img {
  width: 70%;
}
.color_title {
  color: lightsalmon;
}
.content_width_half p {
  width: 75%;
  line-height: 24px;
  margin-top: 40px;
  font-size: 20px;
  font-family: inherit;
  margin-bottom: 30px;
}
.btn {
  text-decoration: none;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
}
.mission_cart {
  width: 80%;
  margin: 0px auto;
}
.mission_cart h1 {
  text-align: center;
  font-size: 55px;
}
.cart_content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.cart_item {
  width: 27%;
  padding: 21px;
  background-color: rgba(95, 151, 160, 0.39);
  border-radius: 5px;
}
.photo img {
  width: 150px;
  height: auto;
}
.project_info {
  width: 79%;
  margin: 80px auto 0px;
  display: flex;
  justify-content: space-between;
}
.forty_ratio {
  width: 38%;
  border: 1px solid;
}
.forty_ratio img {
  width: 100%;
}
.sixty_ratio {
  width: 56%;
  border: 1px solid;
  padding-left: 0%;
  padding-top: 4%;
}
.sixty_ratio h1 {
  font-size: 40px;
  margin-bottom: 24px;
}
.sixty_ratio p {
  margin-bottom: 35px;
}
.footer_section {
  background-color: black;
  text-align: center;
  padding: 21px;
}
.footer_section h1 {
  color: white;
}
.footer_section p {
  color: rgb(175, 181, 155);
}

.contact_section {
  text-align: center;
  margin: 20px 0;
  border: 1px solid;
}
.contact_section h1 {
  font-size: 40px;
  color: #7158e2;
  margin: 32px 0;
}
.contack_flex {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.about_me {
  width: 38%;
  border: 1px solid;
  text-align: left;
  padding: 2%;
  border-radius: 15px;
  background-image: linear-gradient(145deg, #e7ecef, #ffffff);
  box-shadow: 0px 0px 19px -5px gray;
}
.about_me img {
  width: 100%;
}
.about_me h2 {
  font-size: 37px;
  margin: 0px 0px;
}
.about_me span {
  margin-top: -20px;
  font-size: 15px;
}
.about_me p {
  font-size: 16px;
  font-family: sans-serif;
}
.contact_form {
  width: 55%;
  border: 1px solid;
}
.contack_method {
  text-decoration: none;
  color: black;
  padding: 0px 2px;
  font-size: 18px;
  transition: 0.8s;
  /* display: block; */
}
.contack_method:hover {
  color: #7158e2;
}
.form_part {
  width: 80%;
  margin-top: 30px;
  margin-left: 20px;
  text-align: left;
}
.form_part input {
  width: 92%;
  height: 28px;
  margin-bottom: 25px;
}
.form_part label {
  font-size: 18px;
  font-weight: 700;
  font-family: monospace;
}
.form_part textarea {
  width: 92%;
  height: 103px;
}
#send_button {
  width: 158px;
  padding: 0px;
  height: 40px;
  background-color: #7158e2;
  color: white;
  border: none;
  box-shadow: 0 0 5px 2px grey;
  margin-top: 19px;
  font-weight: 700;
  transition: 0.8s;
}
#send_button:hover {
  background-color: black;
}
